.mainappChatList-list-chats-single {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.mainappChatList-list-chats-single-image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 5px;
}

.mainappChatList-list-chats-single-image img {
  height: 100%;
  object-fit: contain;
}

.mainappChatList-list-chats-single-informations {
  flex-grow: 1;
  border-top: 1px solid rgb(218, 218, 218);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 14px;
}

.mainappChatList-list-chats-single-informations-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: start;
}

.mainappChatList-list-chats-single-informations-left .name {
  font-size: 16px;
  font-weight: 500;
}

.mainappChatList-list-chats-single-informations-left .message {
  font-size: 14px;
  font-weight: 200;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainappChatList-list-chats-single-informations-right .time {
  font-size: 14px;
  font-weight: 200;
}

.mainappChatList-list-chats-single-informations-right .messages {
  font-size: 14px;
  font-weight: 500;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 228, 2);
  color: white;
  opacity: 1;
  transition: opacity 0.2s;
}

.mainappChatList-list-chats-single-informations-right {
  text-align: end;
  position: relative;
}
.mainappChatList-list-chats-single:hover .messages {
  opacity: 0;
  transition: opacity 0.3s;
}
.mainappChatList-list-chats-single:hover .arrow-expand {
  transform: translateX(0px);

  transition: transform 0.3s;
}
.mainappChatList-list-chats-single-informations-right .arrow-expand {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 20px;
  transform: translateX(50px);
  transition: transform 0.2s;
}
.expand-searching-for-a-new-chat-small-screen {
  display: none;
}
@media (max-width: 1124px) {
  .mainappChatList-list-chats-single-informations {
    flex-grow: 1;
    border-top: 1px solid rgb(218, 218, 218);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4px;
    padding-right: 8px;
  }
  .expand-searching-for-a-new-chat-small-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(51, 170, 172);
    border-radius: 30px;
    overflow: hidden;
    z-index: 4;
    bottom: 4vh;
    right: 3vh;
    cursor: pointer;
  }
}
