:root {
  --backgroundmain-color: rgb(241, 241, 241);
  --icons-color: rgb(86, 86, 86);
}

.mainappChatHeader {
  width: 100%;
  background-color: var(--backgroundmain-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-inline: 14px;
  padding-right: 22px;
}

.mainappChatHeader-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  font-size: 22px;
}
.mainappChatHeader-icons-icon {
  color: var(--icons-color);
  cursor: pointer;
}

.mainappChatHeader-image {
  height: 44px;
  width: 44px;
  overflow: hidden;
  border-radius: 50%;
  background-color: beige;
}

.mainappChatHeader-image img {
  height: 100%;
  object-fit: cover;
}
