:root {
  --backgroundmain-color: rgb(241, 241, 241);
  --icons-color: rgb(86, 86, 86);
}

.mainappChatHeader {
  width: 100%;
  background-color: var(--backgroundmain-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-inline: 14px;
  padding-right: 22px;
}

.mainappChatHeader-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  font-size: 22px;
}
.mainappChatHeader-icons-icon {
  color: var(--icons-color);
  cursor: pointer;
}
.mainappChatHeader-top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.mainappChatHeader-image {
  height: 44px;
  width: 44px;
  overflow: hidden;
  border-radius: 50%;
  background-color: beige;
  cursor: pointer;
}

.mainappChatHeader-image img {
  height: 100%;
  object-fit: cover;
}

.mainappChatHeader.small-screen {
  display: none;
}
.mainappChatHeader-top-bar-left {
  display: flex;
  font-size: 20px;
  gap: 20px;
}
.mainappChatHeader-top-bar-left .mainappChatHeader-icons-icon {
  color: white;
}
.mainappChatHeader-small-screen-select-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.inside-the-select-bar-absolute-container {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: transparent;
  bottom: 0;
  left: 0;
}
.inside-the-select-bar-absolute-container-little {
  height: 100%;
  background-color: white;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  position: absolute;
  transform: 2s;
}
.inside-the-select-bar-relative-container {
  width: 100%;
  height: 4px;
  position: relative;
  margin: 0;
  bottom: 0;
}
.inside-the-select-bar-absolute-container-little.people {
  width: 15%;
  transform: translateX(0px);
}
.inside-the-select-bar-absolute-container-little.chats {
  width: 30%;
  transform: translateX(50%);
}
.inside-the-select-bar-absolute-container-little.status {
  width: 30%;
  transform: translateX(150%);
}
.inside-the-select-bar-absolute-container-little.calls {
  width: 30%;
  transform: translateX(250%);
}
@media (max-width: 1124px) {
  .mainappChatHeader.small-screen {
    display: flex;
    background-color: rgb(51, 170, 172);
    color: white;
  }
  .mainappChatHeader.big-screen {
    display: none;
  }
}
