.showProfileInfo {
  position: absolute;
  width: 101%;
  height: 100%;
  top: -1px;
  left: -102%;
  transform: translateX(100%);
  transition: transform 0.5s;
  background-color: rgb(241, 241, 241) !important;
  z-index: 4;
  border-right: 1px solid rgb(215, 215, 215);
}
.expand-profile-picture {
  background-color: rgb(139, 138, 138);
}
.showProfileclose {
  position: absolute;
  width: 101%;
  height: 100%;
  top: -1px;
  left: -102%;
  transform: translateX(0%);
  transition: transform 0.2s;
  background-color: aqua;
  z-index: 4;
}
.showProfileInfoHeader {
  height: 15.25vh;
  width: 100%;
  background-color: rgb(10, 130, 98);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showProfileInfoHeader-back {
  width: 100%;
  display: flex;
  color: white;
  font-size: 19px;
  font-weight: 500;
  align-items: center;
  justify-content: flex-start;
  gap: 23px;
  padding: 16px;
  padding-inline: 32px;
}
.showProfileInfoHeader-back-icon {
  font-size: 24px;
  cursor: pointer;
}
.showProfileInfo.show {
  transform: scaleX(1);
  width: 100%;
  z-index: 1;
}

.expand-profile-picture {
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 0px;
  height: 0px;
  transform: scale(0);
  transition: all 0.4s 0.2s;
}

.expand-profile-picture.expand {
  transform: scale(1);
  width: 200px;
  height: 200px;
}
.expand-profile-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.class-for-the-other-profile-informations {
  height: 0px;
  width: 100%;
  overflow: hidden;
}

.class-for-the-other-profile-informations.expand {
  height: fit-content;
  transform: translateY(10%);
  transition: transform 0.3s;
}
.class-for-the-other-profile-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 12vh;
  padding: 2vh;
  padding-inline: 5vh;
}
.class-for-the-other-profile-section.name {
  background-color: white !important;
}
.class-for-the-other-profile-section.about {
  background-color: white !important;
}
.class-for-the-other-profile-section-inside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.class-for-the-other-profile-section.notification {
  text-align: left;
  color: rgb(108, 108, 108);
  font-size: 14px;
}
.class-for-the-other-profile-section-inside.green {
  color: rgb(10, 130, 98);
  font-size: 14px;
}

.class-for-the-other-profile-section-inside.black {
  font-size: 18px;
}
.class-for-the-other-profile-section-inside .icon {
  color: rgb(108, 108, 108);
  cursor: pointer;
}
.edit-picture-profile-appear-on-hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, 0.6);
  top: 0px;
  left: 0px;
  color: white;
  cursor: pointer;
}

.expand-profile-picture:hover .edit-picture-profile-appear-on-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.edit-picture-profile-appear-on-hover div:nth-child(1) {
  font-size: 24px;
}

.edit-picture-profile-appear-on-hover div:nth-child(2) {
  line-height: 2.4vh;
  font-size: 14px;
}
.class-for-the-other-profile-informations {
  background-color: rgb(241, 241, 241);
}
.class-for-the-other-profile-section-inside input {
  text-align: left;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
}

.class-for-the-other-profile-section-inside.borderbottom {
  border-bottom: 2px solid rgb(10, 130, 98);
}

.class-for-the-other-profile-section-inside {
  padding-block: 0.5vh;
}

.class-for-the-other-profile-section-inside .appear-on-click {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-2,
.icon-3,
.icon-4,
.icon-5 {
  font-size: 1px;
  color: rgb(108, 108, 108);
  transition: font-size 0.5s 0.2s; /* Add transition for font-size */
}

.icon-2.expand,
.icon-3.expand,
.icon-4.expand,
.icon-5.expand {
  font-size: 14px;
}

.showProfileInfo .image-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.showProfileInfo .show-dropdown {
  display: block;
}

.showProfileInfo .profile-image-container {
  position: relative;
  display: inline-block;
}

.form-picture-dropdown {
  background-color: white;
  position: absolute;
  top: 48px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  color: black;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.label-picture-dropdown {
  margin-inline: auto;
  width: 100px;
  margin-bottom: 0;
}

.form-picture-dropdown input {
  width: 100px;
  margin-block: 0;
  cursor: pointer;
}

.button-picture-dropdown {
  margin-block: 0;
  margin-top: -2vh;
  border: 0px;
  border-radius: 4px;
  background-color: rgb(46, 106, 226);
  color: white;
}

.closing-dropdown-changing-image-relative {
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-bottom: 1vh;
}

.closing-dropdown-changing-image {
  position: absolute;
  right: 5px;
  top: 0px;
  cursor: pointer;
}
