.showProfileInfo {
  position: absolute;
  width: 0%;
  height: 101%;
  top: -1px;
  left: -1px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.showProfileInfo.show {
  transform: scaleX(1);
  width: 100%;
  background-color: aqua;
  z-index: 1;
}
